{% extends 'base.html.twig' %}

{% block title %}Registre - Mon profil{% endblock %}

{% block body %}
    <div class="container col-9">
        <h2 class="mt-5">Mon profil</h2>
        <div class="card p-2 mt-5 mb-5">
            <h6>- Pseudo : {{ currentUser.username }}</h6>
            <h6>- Borderline : {% if currentUser.borderline == 0 %} Non {% else %} oui {% endif %}</h6>
            <h6>- Rôle : 
                {% if currentUser.roles[0] == "ROLE_USER" %}
                    Utilisateur
                {% elseif currentUser.roles[0] == "ROLE_MODERATOR" %}
                    Modérateur
                {% elseif currentUser.roles[0] == "ROLE_ASSIGNATOR" %}
                    Assignateur 
                {% elseif currentUser.roles[0] == "ROLE_ADMIN" %}
                    Administrateur
                {% elseif currentUser.roles[0] == "ROLE_SUPERADMIN" %}
                    Super-Administrateur
                {% endif %}
            </h6>
        </div>

        <h3>Toutes mes sanctions :</h3>
        <div class="row justify-content-center">
                {% for sanction in currentUser.sanctions %}
                    <div class=" m-5 card col-10 col-lg-3">
                        {% if date() < date(sanction.endtime) %}
                            <p class="mt-1 btn btn-warning">En cours</p>
                        {% endif %}
                        <h6 class="mt-1"><strong>Pseudo</strong> : {{ sanction.user.username }}</h6>
                        <p class=""><strong>Sanction</strong> :  {{ sanction.sanction }}</p>
                        <p class=""><strong>Motif</strong> :  {{ sanction.motif }}</p>
                        <p class=""><strong>Fin de sanction</strong> :  le {{ sanction.endtime|date('d/m/y') }} à {{ sanction.endtime|date('H') }} h {{ sanction.endtime|date('i') }}</p>
                        <p class=""><strong>Modérateur</strong> :  {{ sanction.moderator }}</p>
                    </div>
                {% endfor %}
            </div>
        
            {% if currentUser.sanctions == false %}
            <p> Liste vide </p>
            {% endif %}
    </div>
{% endblock %}
