<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="icon" type="image/png" href="{{ asset('assets/images/logopetitcosmo.png') }}" />
            <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}"><img class="logo" src="{{ asset('assets/images/logo cosmo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('profil') }}">Mon profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') == false %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
              
                </ul>
            </div>
        </nav>
        <div class="container-fluid title">
            <h3 class="col-12 title-modo mb-0 pt-1 pb-1">Registre de cosmopoly</h3>
        </div>
        {% if is_granted('ROLE_MODERATOR') %}
            <nav class="navbar--moderation navbar navbar-expand-lg navbar-dark">
                    
                    <div class="row">
                        <p class="col-12 title-modo">Service de modération</p>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Guide</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sanction_list')}}">Sanction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Candidature</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user') }}">Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Borderline</a>
                            </li>                          
                        </ul>
                    </div>
                </nav>
            {% endif %}
        {% block body %}
        {% endblock %}
         <footer class="container-fluid footer mt-5">
            <div class="row p-3 justify-content-center">
                <div class="row col-12 justify-content-left">
                    <a href="https://discord.gg/sZNFD8F" target="_blank" title="lien vers le discord de cosmopoly" class="btn btn-light mr-1 btn-footer">Discord</a>
                    <a href="https://cosmopoly.site/" title="lien vers le site de cosmopoly" target="_blank" class="btn btn-light btn-footer">Cosmopoly</a>
                </div>
                <img class="logoFooter" src="{{ asset('assets/images/logowhite.png') }}" alt="">
            </div>
         </footer>   
        {% block javascripts %}{% endblock %}
    </body>
</html>
