{% extends 'base.html.twig' %}

{% block title %}Registre - Liste des sanctions{% endblock %}

{% block body %}

{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class=" container col-9">
    

    <div class="row">

        {% if is_granted('ROLE_MODERATOR') %}
            <div class="m-5">
                <h2 class="mt-5 mb-5">Ajouter une sanction</h2>
                {{ form_start(sanctionForm, {'action': path('sanction_add'), 'method': 'POST'}) }}
                    {{ form_row(sanctionForm.sanction, {'label': 'Sanction'}) }}
                    {{ form_row(sanctionForm.motif, {'label': 'Le motif'}) }}
                    {{ form_row(sanctionForm.endTime, {'label': 'Fin de sanction'}) }}
                    {{ form_row(sanctionForm.user, {'label': 'Utilisateur concerné'}) }}
                    {{ form_row(sanctionForm.ajouter) }}
                {{ form_end(sanctionForm) }}
            </div>
        {% endif %}

        <div class="m-5">
            <h2 class="mt-5">Recherche rapide</h2>
            <form class="row justify-content-center col-10 col-md-8" action="{{ path('sanction_search') }}" method="POST">
                <label for="username">Nom du joueur</label>
                <input type="text" name="username" id="username">
                <button type="submit" class="col-9 btn btn-primary btn-sm m-2">Rechercher</button>
            </form>
        </div>

    </div>

    <h2>Liste de toutes les sanctions</h2>

    <div class="row justify-content-center">
        {% for sanction in sanctionList %}
            <div class=" m-5 card col-10 col-lg-3">
                {% if date() < date(sanction.endtime) %}
                    <p class="mt-1 btn btn-warning">En cours</p>
                {% endif %}
                <h6 class="mt-1"><strong>Pseudo</strong> : {{ sanction.user.username }}</h6>
                <p class=""><strong>Sanction</strong> :  {{ sanction.sanction }}</p>
                <p class=""><strong>Motif</strong> :  {{ sanction.motif }}</p>
                <p class=""><strong>Fin de sanction</strong> :  le {{ sanction.endtime|date('d/m/y') }} à {{ sanction.endtime|date('h') }} h {{ sanction.endtime|date('m') }}</p>
                <p class=""><strong>Modérateur</strong> :  {{ sanction.moderator }}</p>
                {% if is_granted('ROLE_MODERATOR') %}
                    <a class="btn btn-primary" href="{{ path("profil_user", {'id':  sanction.user.id  }) }}">Profil</a>
                {% endif %}
                
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <div class="row justify-content-center">
                        <form class="row justify-content-center col-10 col-md-8" action="{{ path("sanction_delete", {id: sanction.id }) }}" method="POST">
                            <button type="submit" class="col-9 btn btn-danger btn-sm m-2">Supprimer</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if sanctionList == false %}
    <p> Liste vide </p>
    {% endif %}
</div>

{% endblock %}
