{% extends 'base.html.twig' %}

{% block title %}Registre - Recherche{% endblock %}

{% block body %}
<div class=" container col-9">

    <h2 class="mt-5">Toutes les sanctions de " {{ user }} "</h2>

    <div class="row justify-content-center">
        {% for sanction in sanctionList %}
            <div class=" m-5 card col-10 col-lg-3">
                {% if sanction.endtime|date('d/m/Y') > "now"|date("d/m/Y")  %}
                    <p class="mt-1 btn btn-warning">En cours</p>
                {% endif %}
                <h6 class="mt-1"><strong>Pseudo</strong> : {{ sanction.user.username }}</h6>
                <p class=""><strong>Sanction</strong> :  {{ sanction.sanction }}</p>
                <p class=""><strong>Motif</strong> :  {{ sanction.motif }}</p>
                <p class=""><strong>Fin de sanction</strong> :  le {{ sanction.endtime|date('d/m/y') }} à {{ sanction.endtime|date('h') }} h {{ sanction.endtime|date('m') }}</p>
                <p class=""><strong>Modérateur</strong> :  {{ sanction.moderator }}</p>
                <a class="btn btn-primary" href="{{ path("profil_user", {'id':  sanction.user.id  }) }}">Profil</a>
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <div class="row justify-content-center">
                        <form class="row justify-content-center col-10 col-md-8" action="{{ path("admin_delete") }}" method="POST">
                            <input type="hidden" name="userId" value="{{ sanction.id }}">
                            <button type="submit" class="col-9 btn btn-danger btn-sm m-2">Supprimer</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if sanctionList == false %}
    <p> Liste vide </p>
    {% endif %}
</div>

{% endblock %}
