{% extends 'base.html.twig' %}

{% block title %}Registre - Candidatures{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">

        {% if is_granted('ROLE_ADMIN')  %}
            <div class="col m-5">
                {{ form_start(applicationForm, {'action': path('application'), 'method': 'POST'}) }}
                    {{ form_row(applicationForm.name, {'label': 'Nom du postulant'}) }}
                    {{ form_row(applicationForm.post, {'label': 'Le poste qu\'il souhaite occuper'}) }}
                    {{ form_row(applicationForm.content, {'label': 'La candidature'}) }}
                    {{ form_row(applicationForm.ajouter) }}
                {{ form_end(applicationForm) }}
            </div>
        {% endif %}
        
        <div class="row">
            <h2>Liste des candidatures</h2>
            {% if applicationList is empty %}
               <p class="col-12 m-5">Il n'y a aucune candidature pour le moment...</p> 
            {% endif %}
            {% for application in applicationList %}
                <div class="card col-12 p-3 m-5">
                    <p><strong>Nom du postulant </strong>: {{ application.name }}</p>
                    <p><strong>Poste recherché</strong>: {{ application.post }}</p>
                    <p><strong>Candidature </strong>: {{ application.content }}</p>

                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <div class="row justify-content-center">
                            <form class="row justify-content-center col-10 col-md-8" action="{{ path("application_delete", {id: application.id }) }}" method="POST">
                                <button type="submit" class="col-9 btn btn-danger btn-sm m-2">Supprimer</button>
                            </form>
                        </div>
                    {% endif %}
                    <div> 
                        <form method="POST" action="{{ path('application_comment_add', {id: application.id} )}}">
                            <div class="form-group">
                                <label for="content">Nouveau commentaire</label>
                                <textarea class="form-control" name="content" id="content" cols="30" rows="6"></textarea>
                                <button class="mt-3 btn btn-primary" type="submit">Ajouter</button>    
                            </div>   
                        </form>
                    </div>
                
                    <div class="col-8">
                        <h3 class="mb-5">Commentaires : </h3>
                        {% for comment in application.comments %}
                            <h5>{{ comment.user.username }}</h5>
                            <p>{{ comment }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
